<% include ./inc/header.ejs %>
    <main>
        <img src="../assets/images/logo.png" alt="LOGO" title="LOGO">
        <h1 id="title"></h1>
        <p id="msg"></p>
        <a href="./views/test.html">TEST PAGE</a>
    </main>
<% include ./inc/footer.ejs %>